---
layout: layout.njk
title: About
---
<a href="/">
  <img src="/images/FindingFolkloreLogo.jpg" alt="Finding Folklore Logo" width="300">
</a>

<h1>About The Team</h1>
<h2>Brice Stratford</h2>
<p>Brice is a performer, novelist, storyteller and theatre-maker. He is the actor-manager of The Owle Schreame Theatre company, which spent several years before the pandemic exploring performance practices in historic English theatre. His research was focussed on the interregnum Drolls, which were performed illegally during the Commonwealth. In addition to several successful theatrical productions, his research gained him an MA from the Shakespeare Institute, University of Birmingham. In 2022 he released two books - New Forest Myths and Folklore (The History Press), and Anglo Saxon Mythology: The Struggle For The Seven Kingdoms (Batsford) - with a third (Halloween Folklore) scheduled for release in 2024, and several more planned.</p>

<p><a class="button" href="https://www.amazon.co.uk/stores/Brice-Stratford/author/B09W5Z7PGM?" target="_blank">Brice's Books</a></p>

<h2>James Carney</h2>
<p>James is a performer and theatre- and film-maker. He wrote, produced and performed in the live audio-drama podcast The Unseen Hour between 2017 and 2020, and subsequently worked in production on audio-dramas for release on BBC Sounds (Tumanbay). He has worked widely in production for television, theatre, film, and audio, as well as developing his own projects in all of those media. He collaborated with Brice on all the Owle Schreame projects from 2013-19 and on the podcast The Unseen Hour. From 2021-23 he studied physical theatre at the Jacques Lecoq International Theatre School, with further study in Commedia dell’Arte and hand-crafted leather mask-making.</p>

<p><a class="button" href="http://www.unseenthings.co.uk" target="_blank">Jimmy's Other Work</a></p>

<h1>Collaborators</h1>
<h2>Su Eaton</h2>
<p>Su is a musician and illustrator living in the New Forest. She composed the theme music for Finding Folklore and performed it on the hurdy-gurdy with her husband Martin Bridle on Bouzouki and Helen Gentile on clarinet.</p>
