---
layout: layout.njk
title: Finding Folklore
bodyClass: splash-page
splash: true
---

<img src="/images/FindingFolkloreLogo.jpg" alt="Finding Folklore Logo" width="400" class="logo">
<h2>A FOLK STORYTELLING PODCAST</h2>
<nav class="splash-nav">
  <a href="/about" class="splash-link">ABOUT</a>
  <a href="/listen" class="splash-link">LISTEN</a>
  <a href="https://www.youtube.com/@finding.folklore" class="splash-link" target="_blank">WATCH</a>
</nav>

<h2>UNBURY THE DEAD</h2>

<br>
<p>RSS: https://anchor.fm/s/f9470d84/podcast/rss</p>